.appBar {
    display: flex;
    height: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 837px 15px 16px;
    background-color: #375f9d;
}

.appBar img {
    width: 138px;
    height: 20px;
}